@import 'fonts';

body {
  background-color: #000;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  color: white;
  font-size: 14px;
  line-height: 22px;
  @extend %rfdewi;
  color: #858585;
}
