@media (max-width: 1200px) {
  .intro__inner,
  .about__inner,
  .hero__title,
  .features__title {
    margin-left: 40px;
  }

  .features {
    &-container__item1 {
      margin-top: 40px;
      margin-left: 40em;
    }
    &-container__item2 {
      margin-left: 10em;
    }
    &-container__item3 {
      margin-left: 40em;
    }
    &__subtitle::before {
      left: -40%;
    }
    &__subtitle-second::before {
      left: -16%;
    }
  }

  .contacts {
    &__title,
    &__subtitle {
      width: calc(60%);
    }
  }
}

@media (max-width: 960px) {
  .header {
    .nav__phone,
    .nav__address {
      display: none;
    }
  }
  .intro {
    &__inner {
      margin-left: 0;
    }
  }

  .footer {
    &__top,
    &__head {
      flex-wrap: wrap;
      flex-direction: column;
    }
    &__wrapper-text {
      width: 100%;
    }
  
    .first__item {
      margin: 0;
      margin-bottom: 40px;
    }
  }
}
