@media (max-width: 1200px) {
  .intro__inner,
  .about__inner,
  .hero__title,
  .features__title {
    margin-left: 40px;
  }

  .features {
    &-container__item1 {
      margin-top: 40px;
      margin-left: 40em;
    }
    &-container__item2 {
      margin-left: 10em;
    }
    &-container__item3 {
      margin-left: 40em;
    }
    &__subtitle::before {
      left: -9%;
    }
    &__subtitle-second::before {
      left: -16%;
    }
  }

  .contacts {
    &__title,
    &__subtitle {
      width: calc(60%);
    }
  }

  .footer {
    .first__item {
      width: calc(35%);
    }
    &__wrapper-text {
      width: calc(65%);
      display: flex;
      flex-direction: row;
    }
  }
}

@media (max-width: 960px) {
  .header {
    .nav__phone,
    .nav__address {
      display: none;
    }
  }
  .intro {
    &__inner {
      margin-left: 0;
    }
  }

  .features {
    padding-bottom: 100px;
    &__wrapper {
      display: flex;
      flex-direction: column;
    }

    &-container__item3, 
    &-container__item2, 
    &-container__item1 {
      margin-left: 70px;
      margin-bottom: 25px;
    }
  }

  .features__text {
    max-width: 385px;
  }


  .footer {
    &__top,
    &__head {
      flex-wrap: wrap;
      flex-direction: column;
    }
    &__wrapper-text {
      width: 100%;
    }
  
    .first__item {
      margin: 0;
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 768px) {
  .footer {
    &__wrapper-text {
      display: flex;
      width: calc(100%);
      flex-wrap: wrap;
    }
  }
} 

