@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header {
  position: relative;
}

.footer__wrapper,
.top__wrapper {
  margin-left: 0;
}

.slider-wrapper__title,
.contacts__subtitle {
  margin-left: 0;
}

// .breadcrumbs {
//   padding-top: 100px;
// }

// .inner {
//   height: 400px;
// }

.chart,
.blob {
  padding-bottom: 200px;
}

.analitycs__content {
  width: 100%;
}


