@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.top {
  display: none;
}

.footer__wrapper,
.top__wrapper {
  margin-left: 0;
}

.slider-wrapper__title,
.contacts__subtitle {
  margin-left: 0;
}

.title {
  font-size: 37px;
  line-height: 44px;
  color: #ffffff;
  margin-bottom: 40px;
  text-transform: uppercase;
}

// IDEA
.idea {
  &__items {
    display: flex;
    justify-content: space-between;
    background-color: #141414;
    padding: 50px 50px 42px 30px;
    max-width: 820px;
    max-height: 120px;
  }

  &__item {
    position: relative;
  }

  &__item:not(:last-child)::after {
    content: '';
    width: 0.1px;
    background-color: grey;
    position: absolute;
    top: 5px;
    right: 0;
    height: 38px;
  }

  &__ball {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #f1ff39;
    box-shadow: 0px 0px 12px #f1ff39;
    position: absolute;
    top: -30px;
  }

  &__text {
    color: #fff;
    font-size: 12px;
    margin-top: 0;
    max-width: 70%;
  }
}
// /.IDEA

// NEW SEO
.new-seo {
  padding-bottom: 50px;
  background-color: #141414;
  &__title {
    font-size: 37px;
    line-height: 44px;
    color: #fff;
    padding-top: 60px;
    margin-bottom: 20px;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 155%;
    color: #fff;
    max-width: calc(27%);
    margin-bottom: 15px;
  }

  &__text,
  &__text-title {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 22px;
  }

  &__text {
    margin-bottom: 34px;
  }

  &__text-title {
    color: #fff;
  }
}

ul.new-seo__items-list {
  padding-left: 30px;
  list-style: disc;
}

.new-seo__block.new-seo__hide::after {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #141414 100%);
}
// /.NEW SEO

// CONTACTS
.contacts {
  padding-top: 160px;
}
// /.CONTACTS

// ADVANTAGES
.advantages {
  padding-top: 160px;
  padding-bottom: 200px;

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 260px;
    position: relative;
  }

  &__title {
    font-size: 13px;
    line-height: 16px;
    color: #ffffff;
    margin-bottom: 15px;
  }

  &__text {
    font-size: 11px;
    line-height: 19px;
    color: #858585;
  }

  &__subitem-top {
    margin-bottom: 40px;
  }

  &__small,
  &__big {
    padding: 45px 20px 50px 20px;
    background-color: #141414;
  }

  &__small {
    height: 295px;
    margin-bottom: 40px;
  }

  &__big {
    height: 400px;
  }

  &__img {
    margin-bottom: 20px;
  }
}
// /.ADVANTAGES

// CASES
.cases {
  padding-bottom: 190px;

  &__main-title {
    margin-bottom: 50px;
    width: calc(50%);
  }
  &__items {
    column-count: 2;
    column-gap: 50px;
  }
  &__item {
    width: 100%;
    height: 480px;
    padding: 65px 0 30px 15px;
    margin-bottom: 35px;
  }
  &__item-title {
    font-size: 25px;
    line-height: 30px;
    color: #ffffff;
    margin-bottom: 10px;
  }
  &__item-link {
    font-size: 10px;
    line-height: 20px;
    color: #858585;
  }
  &__item-stat {
    display: block;
  }
  &__item-first {
    margin-top: 75px;
  }
  &__item-stat {
    font-size: 15px;
    line-height: 18px;
    color: #f1ff39;
    margin-bottom: 5px;
  }
  &__item-text {
    width: calc(30%);
    font-size: 10px;
    line-height: 15px;
    margin-bottom: 50px;
  }
}
// /.CASES

// SEO-REVIEWS
.seo-reviews {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 65px;
  }
  &__title-wrapper {
    display: flex;
    flex-direction: column;
  }
  &__main-title {
    width: 55%;
  }
  &__img {
    content: url(../img/group.png);
    height: 100%;
  }
  &__desc {
    width: 40%;
  }
}

.seo-reviews__tabs {
  &-img {
    position: relative;
    top: 1px;
    margin-right: 10px;

    &-first {
      content: url(../img/tabs-icons/video_icon.svg);
    }

    &-second {
      content: url(../img/tabs-icons/list.svg);
    }

    &-third {
      content: url(../img/tabs-icons/music.svg);
    }
  }
  &-top {
    border-bottom: 0.5px solid #5b5b5b;
    margin-bottom: 40px;
  }

  &-top-item {
    font-size: 13px;
    line-height: 16px;
    color: #fff;
    margin-bottom: 15px;
    display: inline-block;

    & + .seo-reviews__tabs-top-item {
      margin-left: 18em;
    }
  }
  &-top-item--active {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: -17px;
      left: 0;
      right: 0;
      width: 100%;
      height: 3px;
      background-color: #fff;
    }
  }
  &-content-item {
    display: none;
    &.seo-reviews__tabs-content-item--active {
      display: block;
    }
  }
}

.seo-reviews__tabs-content-first {
  display: flex;
  justify-content: space-between;
  &-left {
    max-width: 500px;
  }
  &-title {
    font-size: 25px;
    line-height: 30px;
    color: #ffffff;
    max-width: 370px;
    margin-bottom: 30px;
  }
  &-text,
  &-author {
    font-size: 12px;
    line-height: 19px;
  }
  &-text {
    margin-bottom: 20px;
  }
  &-author {
    color: #ffffff;
  }
  &-letter {
    color: #edff00;
    background-color: #4e4e4e;
    border-radius: 50%;
    margin-right: 10px;
    padding: 10px;
  }
  &-video {
    width: 560px;
    height: 300px;
    position: relative;
  }

  &-link {
    position: absolute;
    bottom: 9em;
    left: 19em;
  }
}

.seo-reviews__tabs-content-second {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &-item {
    margin-bottom: 60px;
  }
}
// /.SEO-REVIEWS

@media (max-width: 1200px) {
  .intro,
  .ideas,
  .advantages,
  .cases,
  .seo-reviews {
    display: none;
  }

  .new-seo__toogle {
    display: none;
  }

  .header {
    position: relative;
  }

  .top {
    display: block;
  }

  .new-seo__wrapper.hide {
    height: 100%;
  }

  .content_block.hide:after {
    height: 0px;
  }
}

@media (max-width: 960px) {
  .new-seo {
    &__title {
      margin-bottom: 70px;
    }
    &__subtitle {
      max-width: 59%;
    }
  }
}

@media (max-width: 640px) {
  .header .menu-button {
    display: block;
  }

  .new-seo {
    &__title {
      padding-bottom: 40px;
      margin-bottom: 40px;
      border-bottom: 0.5px solid #858585;
    }
  }
}

@media (max-width: 480px) {
  .new-seo__subtitle {
    max-width: 100%;
  }
}
