@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';



.container {
  max-width: 1400px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

// Intro
.intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: url('../img/bckgrnd.png') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  height: 100%;
  position: relative;
  min-height: 800px;

  &__inner {
    padding-top: 140px;
    padding-bottom: 100px;
    margin-left: 100px;
  }

  &__title {
    max-width: 500px;
    font-size: 55px;
    font-weight: 600;
    line-height: 66px;
    color: #fff;
    margin-bottom: 30px;
  }

  &__subtitle {
    max-width: 350px;
    margin-bottom: 26px;
    color: #858585;
  }
}
// /Intro

// Header
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
  }

  img {
    display: inline-block;
  }
}

.nav {
  &__list {
    display: flex;

    &-phone,
    &-address {
      @extend %rfdewi;
      font-size: 14px;
      line-height: 12px;
      color: #fff;
      position: relative;
    }

    &-phone::before {
      content: url('../img/phone-icon.svg');
      position: absolute;
      left: -17%;
      top: 2%;
    }

    &-address::before {
      content: url('../img/pointer-icon.svg');
      position: absolute;
      left: -10%;
      top: 5%;
    }

    &-item + &-item {
      margin-left: 60px;
    }
  }
}
// /Header

.btn {
  cursor: pointer;
  padding: 12px 12px;
  background-color: #edff00;
  color: #000;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 12px;
}

// Socials
.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__list {
    display: flex;
  }

  &__item + &__item {
    margin-left: 14px;
  }
}

.hint-container {
  padding-left: 30px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scroll_horizontal,
.scroll_vertical {
  animation-name: spin;
  animation-duration: 6000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
}

.arrow_down {
  width: 25px;
  position: absolute;
  animation-name: up_down;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes up_down {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
}

@keyframes right_left {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
}
// /.Socials

// About
.about {
  &__inner {
    padding-top: 190px;
    padding-bottom: 190px;
    margin-left: 100px;
  }

  &__title {
    max-width: 445px;
    font-size: 37px;
    line-height: 44px;
    margin-bottom: 35px;
    text-transform: uppercase;
    color: #fff;
  }

  &__text {
    max-width: 331px;
    color: #858585;
    margin-bottom: 50px;
  }

  &__items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  &__list {
    display: flex;

    &-text {
      color: #858585;
      margin-top: 28px;
      max-width: 65%;
    }
  }
}

.icon-top-10::before {
  content: url('../img/fax/monitor-1.svg');
}
.icon-coins::before {
  content: url('../img/fax/coins-1.svg');
}
.icon-traffic::before {
  content: url('../img/fax/traffic-1.svg');
}
// /.About

// SLIDER
.header-container_slider {
  display: flex;
  align-items: center;
  padding-bottom: 200px;
}

.wrapper {
  padding-left: 30px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.span_featured {
  color: #edff00;
}
.p_featured {
  padding-left: 2em;
  width: 25em;
}
.p_description {
  font-size: 12px;
  width: 100%;
}
.p_description_reduced {
  width: 60%;
}
.p_description_xs {
  font-size: 10px;
  width: 100%;
}
.p_description_xs_reduced {
  font-size: 10px;
  width: 35%;
}
.p_highlighted {
  font-size: 30px;
  color: #edff00;
  width: 10em;
}
.p_highlighted_xs {
  font-size: 16px;
  color: #edff00;
}
.p_featured_lefter {
  padding-left: 4em;
  font-size: 10px;
  width: 25em;
}

.slider-wrapper {
  &__title {
    margin-left: 100px;
    margin-bottom: 50px;
    font-size: 37px;
    line-height: 44px;
    color: #fff;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 19px;
    color: #fff;
  }

  &__link {
    font-size: 10px;
    line-height: 12px;
    color: #fff;
  }
}

.slider-container {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  justify-content: space-between;
}

.slider-container_moved {
  position: relative;
  bottom: 4em;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  justify-content: space-between;
}

.slider {
  position: relative;
  margin-left: 2em;
  user-select: none;
  touch-action: pan-x;
}

.slider-container::-webkit-scrollbar {
  display: none;
}
.slider-container_moved::-webkit-scrollbar {
  display: none;
}

.slider-list.grab {
  cursor: grab;
}
.slider-list.grabbing {
  cursor: grabbing;
}

.slider-track {
  display: flex;
}

.slide {
  flex-shrink: 0;
}
.slide-case {
  background: #141414;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: space-around;
  align-items: flex-start;
  padding: 2em;
  width: 389px;
  height: 575px;
  margin-right: 2em;
}
.slide-review {
  display: flex;
  flex-direction: column;
  margin-right: 2em;
}
.slide-review__thumb {
  width: 380px;
  height: 213px;
  background: #141414;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 1px solid #edff00;
  cursor: pointer;
}
.slider-arrows {
  margin-top: 15px;
  text-align: center;
  height: 0;
  overflow: hidden;
}
.slide-review__quote {
  padding-top: 2em;
}

.next,
.prev {
  background: none;
  border: none;
  margin: 0 10px;
  font-size: 30px;
  cursor: pointer;
}

.next.disabled,
.prev.disabled {
  opacity: 0.25;
  pointer-events: none;
}
// /.SLIDER

// HERO
.hero {
  padding-bottom: 200px;
  &__title {
    margin-bottom: 55px;
    margin-left: 100px;
    font-size: 37px;
    line-height: 44px;
    color: #fff;
  }
  &__wrapper {
    background: #141414;
    border-bottom: 1px solid #edff00;
    padding: 20px 0;
  }
}
.stats {
  &__items {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: 2.5em;
  }
  &__item {
    &-num {
      font-size: 30px;
      line-height: 36px;
      margin-bottom: 15px;
      color: #edff00;
    }

    &-text {
      font-size: 10px;
      line-height: 16px;
      width: 140px;
    }
  }
}
// /.HERO

.features {
  padding-bottom: 200px;

  &__title {
    font-size: 37px;
    line-height: 44px;
    color: #fff;
    max-width: 290px;
    margin-left: 100px;
  }

  &__subtitle {
    font-size: 16px;
    color: #fff;
    position: relative;

    &::before {
      position: absolute;
      content: url('../img/dollar-icon.svg');
      left: -10%;
    }
  }

  &__subtitle-second::before {
    left: -16%;
  }

  &__text {
    padding-left: 0;
    max-width: 350px;
  }
}

.features-container__item1 {
  margin-top: 40px;
  margin-left: 50em;
}
.features-container__item2 {
  margin-left: 20em;
}
.features-container__item3 {
  margin-left: 60em;
}

// SECOND SLIDER
.second__slider {
  &-wrapper {
    padding-bottom: 200px;
  }
  background: #141414;
  border-top: 1px solid #edff00;
  max-height: 20vh;
  margin-top: 5em;
}

.number_highlited__border {
  width: 8em;
  height: 8em;
  border: 1px solid #141414;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.number_highlited__number {
  background: #edff00;
  color: black;
  font-size: 15px;
  width: 3em;
  border: 1px solid #edff00;
  border-radius: 100%;
  padding: 10px;
  text-align: center;
}
// /.SECOND SLIDER

// CUSTOMERS
.header-container__table-container {
  display: flex;
  justify-content: center;
  padding-bottom: 200px;
}

.header-container__table-container table {
  border-collapse: collapse;
  text-align: center;
}

.header-container__table-container td {
  border: 0.5px solid #858585;
}

.header-container__table-container tr:first-child td {
  border-top: 0;
}

.header-container__table-container tr td:first-child {
  border-left: 0;
}

.header-container__table-container tr:last-child td {
  border-bottom: 0;
}

.header-container__table-container tr td:last-child {
  border-right: 0;
}

.table__img {
  padding: 0 30px 0 30px;
}

.header-container_td img {
  display: inline-block;
}

// /.CUSTOMERS

.hero-text_wider_bg_brdr-top_centered {
  background: #141414;
  border-top: 1px solid #edff00;
  max-height: 30vh;
  margin-top: 5em;
  display: flex;
  justify-content: center;
}

.certification__title {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 0;

  &-text {
    width: 25%;
  }
}

.certification {
  padding-bottom: 200px;
  .slider {
      margin-left: 140px;
  }
  
  &__items {
      padding: 30px 0;
  }

  &__item {
      width: 198px;
      height: 47px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 0.5px solid #858585;

      &:last-child {
          border-right: 0;
      }
  }
}


// CONTACTS
.contacts {
  padding-bottom: 200px;
  
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 50%;
  }
  &__title,
  &__subtitle {
    max-width: 45%;
  }
  &__subtitle {
    margin-left: 100px;
  }
}

.form-container__form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 200px;
  max-width: 500px;
}

.form-container {
  flex-basis: 50%;
}

input {
  border: 0;
  border-bottom: 0.5px solid #858585;
  background: transparent;
  width: 100%;
}
input:focus {
  outline: none;
}
label {
  color: #858585;
}

.btn__form {
  border: none;
}
// /.CONTACTS










.content_block {
	overflow: hidden;
	position: relative;    
}
.content_block.hide {
	height: 100px;
}
.content_block.hide:after{
	content: "";
	display: block;
	height: 100px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
  background-image: linear-gradient(to bottom, rgba(000, 000, 000, 0), #000 100%);
}

.text__hide {
  font-size: 10px;
}

.content_toggle {
  padding: 0;
  background: none;
  border: none;
  margin-top: 20px;
  color: yellow;
  cursor: pointer;
  font-size: 10px;
}

.top {
  padding-bottom: 200px;

  &__title {
    font-size: 14px;
    color: #fff;
    margin-bottom: 40px;
    max-width: 265px;
  }
}


.footer {
  font-weight: 600;
  &__top,
  &__head,
  &__bottom {
      padding: 40px 0;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      border-top: 0.5px solid #5B5B5B;
  }

  &__item-inner {
      width: 100%;
      max-width: 260px;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
  }

  &__item {
      width: 100%;
      max-width: 260px;

      &:first-child {
          max-width: 330px;
      }

      &:not(:last-child) {
          margin-right: 40px;
      }
  }

  &__title {
      margin-bottom: 25px;
      font-size: 14px;
      font-weight: 600;
      color: #EDFF00;
  }

  &__list-item {
      font-size: 10px;

      a {
          max-width: 260px;
          color: #858585;
          transition: color 0.3s;

          &:hover {
              color: #EDFF00!important;
              transition: color 0.3s;
          }
      }
  }

  .socials {
      padding-top: 10px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      &__item {
          transition: opacity 0.3s;
          &:hover {
              opacity: 0.6;
              transition: opacity 0.3s;
          }

          a {
              svg {
                  width: 20px;
                  height: 20px;
              }
          }      

          &:not(:last-child) {
              margin-right: 5px;
          }
      }
  }

  &__copy {
      font-size: 13px;
      font-weight: 600;
      color: #fff;
  }

  &__desc {
      max-width: 330px;
      font-size: 10px;
      font-weight: 600;
      color: #858585;
      line-height: 1.5;
  }

  &__group {
      width: 100%;
      max-width: 260px;
      padding-right: 20px;
  }
}


@import 'media';

